header.css-18ni7ap.e8zbici2 {
    background-color: #000000;
}

header.css-1avcm0n.e8zbici2
{
    background-color: #000000;
}

a.css-17nby6i.e1fqkh3o6 {
    background-color: #ebd000;
    height: 1.5cm;
    border-radius: 8px;
}

div.css-gggys9.e1fqkh3o0 {
    background-color: #000000;
}

div.css-fis6aj.exg6vvm10 {
    opacity: 50%;
}

span.css-10trblm.e16nr0p30 {
    font-size: 1em;
    font-weight: bold;
    font-variant-caps: small-caps;
    border-bottom: 3px solid #000000;
}

div.css-1r6slb0.e1tzin5v2 {
   /* border-radius: 20px;    
    background-color: lightblue;*/
}

div.css-8u98yl.exg6vvm0 {
    width: 12cm;
}

button.css-9s5bis.edgvbvh3 {
    background-color: #646464;
}

/*
div.css-zt5igj.e16nr0p33 {
    background-color: #fb5a5a;
    border-radius: 10px;
}


footer.css-1q1n0ol.egzxvld0 { 
    opacity: 0%;
}
*/


